<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <!-- IP 제한: 허용된 IP만 접근 가능 -->
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence=".env" />
                </denyUrlSequences>
            </requestFiltering>
            <ipSecurity allowUnlisted="false">
                <!-- 로컬 -->
                <add allowed="true" ipAddress="127.0.0.1" />
                <!-- 사무실 IP (여기에 본인 사무실 공인IP 입력) -->
                <add allowed="true" ipAddress="0.0.0.0" />
            </ipSecurity>
        </security>
    </system.webServer>
</configuration>
